@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:ital,wght@1,300;1,400;1,500&display=swap");
#app {
  width: 100%;
  max-height: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
}

.link {
  color: black;
  font-size: 1.5rem;
  padding: 0.15rem;
  border-radius: 0.25rem;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      62deg,
      rgba(7, 86, 160, 0.973) 13%,
      rgba(255, 122, 151, 0.5) 4%
    ),
    linear-gradient(
      42deg,
      rgba(7, 86, 160, 0.973) 39%,
      rgba(255, 122, 151, 0.5) 4%
    ),
    linear-gradient(
      118deg,
      rgba(7, 86, 160, 0.973) 40%,
      rgba(255, 122, 151, 0.5) 4%
    ),
    linear-gradient(
      48deg,
      rgba(7, 86, 160, 0.973) 83%,
      rgba(255, 122, 151, 0.5) 4%
    );

  overflow: hidden;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
